*.log

.architect
.sencha

app-themes/**/*.jsonp
app-themes/**/*.json
!app-themes/app.json
# !app-themes/app.json

example.css
build/
ext/

nbproject/

node_modules

# bootstrap.json
# classic.json
# material.json
# triton.json
# aria.json
# cupertino.json
# gray.json
# ios.json
# mountainview.json
# windiws.json
# blackberry.json
# modern*.json
# neptune*.json
# crisp*.json
