/**
 * Generates a set of style rules for the "navigation" tab UI.
 */
@include extjs-tab-panel-ui(
    $ui: 'navigation',
    $ui-tab-background-color: $ui-navigation-tab-background-color,
    $ui-tab-background-color-over: $ui-navigation-tab-background-color-over,
    $ui-tab-background-color-active: $ui-navigation-tab-background-color-active,
	
    $ui-tab-background-gradient: $ui-navigation-tab-background-gradient,
    $ui-tab-background-gradient-over: $ui-navigation-tab-background-gradient-over,
    $ui-tab-background-gradient-active: $ui-navigation-tab-background-gradient-active,
	
    $ui-tab-color: $ui-navigation-tab-color,
    $ui-tab-color-over: $ui-navigation-tab-color-over,
    $ui-tab-color-active: $ui-navigation-tab-color-active,
	
    $ui-tab-glyph-color: $ui-navigation-tab-glyph-color,
    $ui-tab-glyph-color-over: $ui-navigation-tab-glyph-color-over,
    $ui-tab-glyph-color-active: $ui-navigation-tab-glyph-color-active,
    $ui-tab-glyph-opacity: $ui-navigation-tab-glyph-opacity,
	
    $ui-tab-border-radius: $ui-navigation-tab-border-radius,
    $ui-tab-border-width: $ui-navigation-tab-border-width,
	
    $ui-tab-inner-border-width: $ui-navigation-tab-inner-border-width,
    $ui-tab-inner-border-width-focus: $ui-navigation-tab-inner-border-width-focus,
    $ui-tab-inner-border-width-over: $ui-navigation-tab-inner-border-width-over,
    $ui-tab-inner-border-width-active: $ui-navigation-tab-inner-border-width-active,
    $ui-tab-inner-border-width-focus-over: $ui-navigation-tab-inner-border-width-focus-over,
    $ui-tab-inner-border-width-focus-active: $ui-navigation-tab-inner-border-width-focus-active,
    $ui-tab-inner-border-width-disabled: $ui-navigation-tab-inner-border-width-disabled,
    $ui-tab-body-outline-width-focus: $ui-navigation-tab-body-outline-width-focus,
	
    $ui-tab-padding: $ui-navigation-tab-padding,
    $ui-tab-margin: $ui-navigation-tab-margin,
	
    $ui-tab-font-size: $ui-navigation-tab-font-size,
    $ui-tab-font-size-over: $ui-navigation-tab-font-size-over,
    $ui-tab-font-size-active: $ui-navigation-tab-font-size-active,
    $ui-tab-line-height: $ui-navigation-tab-line-height,
    $ui-tab-font-weight: $ui-navigation-tab-font-weight,
    $ui-tab-font-weight-over: $ui-navigation-tab-font-weight-over,
    $ui-tab-font-weight-active: $ui-navigation-tab-font-weight-active,
	
    $ui-tab-icon-width: $ui-navigation-tab-icon-width,
    $ui-tab-icon-height: $ui-navigation-tab-icon-height,
    $ui-tab-icon-spacing: $ui-navigation-tab-icon-spacing,
	
    $ui-bar-background-color: $ui-navigation-bar-background-color,
    $ui-bar-background-gradient: $ui-navigation-bar-background-gradient,
    $ui-bar-padding: $ui-navigation-bar-padding,
    $ui-strip-height: $ui-navigation-strip-height
);

/**
 * Generates a set of style rules for the "navigation" panel UI.
 */
@include extjs-panel-ui(
    $ui: 'navigation',
    $ui-header-color: #fff,
    $ui-header-glyph-color: #fff,
    $ui-header-glyph-opacity: 1,
    $ui-header-font-size: 20px,
    $ui-header-line-height: 24px,
    $ui-header-font-weight: bold,
    $ui-header-icon-height: 24px,
    $ui-header-icon-width: 24px,
    $ui-header-icon-spacing: 15px,
    $ui-header-background-color: $base-color,
    $ui-header-padding: 0,
    $ui-header-text-margin: 36px,
    $ui-header-noborder-adjust: false
);

.x-title-icon-navigation {
    font-family: FontAwesome;
    color: #fff;
    font-size: 24px;
    line-height: 24px;
}

.x-tab-icon-el-navigation {
    font-family: FontAwesome;
    color: #acacac;

    .x-tab-over & {
        color: #c4c4c4;
    }

    .x-tab-active & {
        color: #fff;
    }
}

.x-panel-header-title-navigation > .x-title-text-navigation:after {
    top: 30px;
    right: -24px;
}

.x-grid-row.x-item-current {
    font-weight: bold;
}