
$ui-navigation-tab-background-color: transparent;
$ui-navigation-tab-background-color-over: #505050;
$ui-navigation-tab-background-color-active: #303030;

$ui-navigation-tab-background-gradient: 'none';
$ui-navigation-tab-background-gradient-over: 'none';
$ui-navigation-tab-background-gradient-active: 'none';

$ui-navigation-tab-color: #acacac;
$ui-navigation-tab-color-over: #c4c4c4;
$ui-navigation-tab-color-active: #fff;

$ui-navigation-tab-glyph-color: $ui-navigation-tab-color;
$ui-navigation-tab-glyph-color-over: $ui-navigation-tab-color-over;
$ui-navigation-tab-glyph-color-active: $ui-navigation-tab-color-active;
$ui-navigation-tab-glyph-opacity: 1;

$ui-navigation-tab-border-radius: 0;
$ui-navigation-tab-border-width: 0;
$ui-navigation-tab-inner-border-width: 0;
$ui-navigation-tab-inner-border-width-focus: $tab-inner-border-width-focus;
$ui-navigation-tab-inner-border-width-over: $tab-inner-border-width-over;
$ui-navigation-tab-inner-border-width-active: $tab-inner-border-width-active;
$ui-navigation-tab-inner-border-width-focus-over: $tab-inner-border-width-focus-over;
$ui-navigation-tab-inner-border-width-focus-active: $tab-inner-border-width-focus-active;
$ui-navigation-tab-inner-border-width-disabled: $tab-inner-border-width-disabled;
$ui-navigation-tab-body-outline-width-focus: $tab-body-outline-width-focus;

$ui-navigation-tab-padding: 24px;
$ui-navigation-tab-margin: 0;

$ui-navigation-tab-font-size: 15px;
$ui-navigation-tab-font-size-over: $ui-navigation-tab-font-size;
$ui-navigation-tab-font-size-active: $ui-navigation-tab-font-size;
$ui-navigation-tab-line-height: 19px;
$ui-navigation-tab-font-weight: bold;
$ui-navigation-tab-font-weight-over: $ui-navigation-tab-font-weight;
$ui-navigation-tab-font-weight-active: $ui-navigation-tab-font-weight;

$ui-navigation-tab-icon-width: 24px;
$ui-navigation-tab-icon-height: 24px;
$ui-navigation-tab-icon-spacing: 5px;

$ui-navigation-bar-background-color: #404040;
$ui-navigation-bar-background-gradient: 'none';
$ui-navigation-bar-padding: 0;
$ui-navigation-strip-height: 0;

