
$ui-navigation-tab-inner-border-width: 0;
$ui-navigation-tab-inner-border-width-focus: 0;
$ui-navigation-tab-inner-border-width-over: 0;
$ui-navigation-tab-inner-border-width-active: 0;
$ui-navigation-tab-inner-border-width-focus-over: 0;
$ui-navigation-tab-inner-border-width-focus-active: 0;
$ui-navigation-tab-inner-border-width-disabled: 0;
$ui-navigation-tab-body-outline-width-focus: null;


